@font-face{
  font-family: 'digital';
  src: url('../public/src/digital-7.ttf')
}

.App {
  text-align: center;
  font-family: 'digital';
  background-color: #00ADB1;
  font-size: 3.5rem;
}

.calculator {
  width: 560px;
  height: 700px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #FFC801;
  background: linear-gradient(116deg, #FFC801 55%, #D8AC01 55%);
  display: flex;
  flex-flow: column;
  border-radius: 10px;
}

.solar-battery {
  background-color: #AF9206;
  align-self: flex-end;
  /* width: 100px; */
  height: 30px;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-be;
  /* gap: 5px; */
}

.solar-battery__block {
  background-color: white;
  width: 23px;
  margin: 0 1px;
}

.display-container {
  width: 100%;
  padding: 5px;
  background-color: #AF9206;
  margin-bottom: 60px;
  border-radius: 5px;
}

.display {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #5E5B56;
  background: linear-gradient(171deg, #5E5B56 54%, #303024 55%);
  padding: 0 5px;
  text-align: right;
  color: white;
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  height: 500px;
}

.btn {
  font-family: "Madimi One", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  border: none;
  background-color: #F9F0C5;
}

.btn:last-child {
  grid-column-start: span 4;
}

#clear {
  background: black;
  color: white;
}

#divide, #add, #subtract, #multiply {
  background-color: white;
}

#equals {
  background-color: #D6202F;
  color: white;
}

